body {
    background-color: rgb(200, 200, 200);
}
#standings {
    display: none;
}

#bracket {
    display: none;
}

#user-bracket {
    display: none;
}

#standings-title, #schedule-title {
    text-align: center;
    font-size: 40px;
    padding: 20px;
    text-decoration: underline;
}

#standings-div, #schedule-div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.conference-title {
    text-align: center;
    font-size: 25px;
    text-decoration: underline;
    text-transform: capitalize;
}

#bracket-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.bracket-section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.matchup {
    height: 50px;
    width: 130px;
}

#finals-title {
    text-align: center;
    font-size: 30px;
    text-decoration: underline;
}

#finals-matchup {
    text-align: center;
    margin: auto;
}

#finals-winner {
    text-align: center;
    margin: auto;
    font-size: 20px;
}

.team {
    background-color: white;
    border: 1px solid black;
}

